#aboutus::first-letter {
  initial-letter: 3;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

#subToNewsletter{
  border: solid #014038 5px;
  margin: 10px 20px 15px 15px;
  padding: 20px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

main {

  gap: 10px;
  grid-template-columns: auto;
  max-width: 1200px;
  padding: 2rem;
}