.carousel {
    position: relative;
    width: 100%;
    margin: 1px; 
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overscroll-behavior-x: contain;

  /* mobile sanity */
  -webkit-overflow-scrolling: touch;

}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  box-sizing: border-box;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel[data-variant="hero"] img {
  width: 200px;
  height: auto;
  display: block;
}
.carousel[data-variant="demo"] img {
  min-height: auto;
}

.carousel-btn {
  position: absolute;
  top: 85%;
  transform: translateY(-60%);
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: var(--brand-pink) ;
  font-size: 2rem;
  padding: 0 5px;
  cursor:  pointer;
  border-radius: 5px;
}
.carousel-btn:active {
  background-color:var(--brand-pink);
}

