
/*region for screen reader announcements*/
.sr-only {
  height: 1px;
  left: -9999px;
  position: absolute;
  width: 1px;
  overflow: hidden;
}
/*Cart view/ summary */
#users-card{
  background-color: var(--brand-green);
  border: var(--bg-surface) 2px solid;
  padding: 1px,2px;
  margin: 3px;
  max-width: fit-content;
  border-radius: 10px;
  justify-self: end;

}

/*Modal/ hidden */
.modal {
 display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background: #01362c8a;
  transition: opacity 0.2s ease;
  z-index: 9999;
  cursor: pointer;
}


.modal.hidden {
  display: none;
}


.modal-content {
 display: flex;
 flex-direction: column;
 align-items: center ;
 justify-content: center ;
 animation: ease-in-out;
 border-radius: 8px;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
 background: var(--brand-blonde);
 outline: none;
 position: relative;
 padding: 10px;
 text-align: center;
 width: 75vw;
 max-width: 520px;
 min-width: 240px;
 max-height:800vh;
 cursor: default;
}


#modal-view-container{
 
  border: solid 2px #000;
   border-radius: 5px;
   display: block;
   margin-left: 2px;
   margin-right: 2px;
   overflow: auto;
   padding: 2px;
   padding-left: 5px;
   padding-right: 5px;
   width: 100%;
   max-width: 100%;
 }

 .cart-view-modal{
  border: solid 2px #000;
   border-radius: 15px;
   display: block;
   margin-left: 2px;
   margin-right: 2px;
   overflow: auto;
   padding: 2px;
   padding-left: 5px;
   padding-right: 5px;
   width:100%;
   max-width: 100%;

 }

.product-modal-content{
  display: grid;
  grid-template-columns: auto ;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  height:60%;
  align-content: center;
}
#modal-product-image{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.modal-image-wrapper {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
  border-radius: 6px;
}
.modal p{
 max-width: 100%;
}
 #cart-title{
color: #00231C;
margin: 1px;
padding: 1px;

 }


 #cart-total p{
   display: block;
   font-weight: bold;
   margin: 1px;
   color: #00231C;
 }
 
 .clear-cart{
   background-color:#BDD4DA;
   border-radius: 10px;
   box-shadow: 2px #96BAA0;
   color: #00231C;
   font-weight: bold;
   margin: 2px 1px;
   padding: 1px 2px 1px 2px;
 
 
 }
 .order-now:hover{
   background-color: #96BAA0;
   color:  #00231C;
 
 }
 .order-now{
   background-color: #BDD4DA;
   border-radius: 10px;
   box-shadow: 2px #96BAA0;
   font-weight: bold;
   margin: 2px 1px;
   padding: 1px 3px 1px 3px;
 }
 
 

 .close {
   font-size: 1.0rem;
   cursor: pointer;
   color: #00231C;
   position: absolute;
   right: 10px;
   top: 10px;
 }
 
 
 

 
 button:focus, .close:focus {
   outline: 2px solid #00231C;
   outline-offset: 2px;
 }
 
 

 /*Galery card add to crt button  (appended)*/
 .add-to-cart{
  border: 0px;
  max-width: fit-content;
 }
 
 .add-to-cart button:hover{
 background-color: #BDD4DA;
 
 
 }
 
 
 