/* Desktop layout */
@media (min-width: 769px) {

  #gallery-container{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }



}

/* Mobile layout */
@media (max-width: 768px) {


  #gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: var(--space-1);
  }

  
}



/* Base styles (shared) */
.product-gallery{
  padding: var(--space-3);
}
body{
  background-color: #BDD4DA;
  color: #0d0d0ef2;
  height: 100%;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;

  
}





figure.product-media{
  aspect-ratio: 4 / 5;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


figure.product-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
 
}

/* Caption styling (optional) */
figure.product-media figcaption {
  color:  #00231C;
  font-size: 18px;
  font-weight: bold;


}


.gallery{ 

  background-color:  #F7F7F7; 
  box-shadow: 0 5px 5px #000; 
  display: flex;
  flex-direction: column;
  margin: 5px; 
  overflow: hidden;
  padding: 2px; 

}

.product-description{
  background-color: #BDD4DA; 
  display: none;
  font-family: Arial;
  font-size: 20px;
  overflow: hidden;
  transition: max-height 0.4s ease;
  margin-top: 3px;

}

.product-description.show{
  display: block;
  max-height: 200px; 
}

.product-price {
  margin:4px 0px;
  line-height: 1.2;
  margin: 4px 0px;
  font-size: 14px;
  font-weight: bold;

}

.product-name {
  min-height: 2.4em;
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  font-weight: bold;
  color: #00231C;
  margin: 6px 0 0;
}