<header>
  <div class="bvn-logobar">
    <a href="/">
      <img class="logo" src="{{ url_for('static', filename='images/itssewlogoedited.webp') }}" alt="Its Sew Regina Home">
    </a>

    <h1>Its Sew Regina</h1>

    <nav aria-label="Main navigation" class="menu-mobile">
      <ul class="navigation-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/aboutus">About Us</a></li>
      </ul>
    </nav>
  </div>

  <div id="status-region"
       class="visually-hidden"
       aria-live="polite"
       aria-atomic="true"></div>
</header>