<!DOCTYPE html>
{% extends "base.html" %}

  {% block title %}Gallery - Its Sew Regina{% endblock %}
  
 {% block head %}
 <link href="{{ url_for('static', filename='css/gallery.css') }}" rel="stylesheet">
 {% endblock %}


{% block content %}
    
    <div class="product-gallery container">
      
      
      
  <h2 id="top">In stores now</h2>
  <article class="carousel-container">
    <h3>Phone Stands</h3>
    <div class="carousel" 
    data-carousel 
    data-category="phone-stands"
    data-variant="hero">
    <div class="carousel-track"></div>
  </div>
      <div class="carousel-dots" data-dots></div>
    </article>

    <article class="carousel-container">
      <h3>Pillows</h3>
    <div class="carousel" 
      data-carousel 
      data-category="pillows"
      data-variant="hero">
        <div class="carousel-track"></div>
      </div>
      <div class="carousel-dots" data-dots></div>
    </article>
    
    <article class="carousel-container">
      <h3>Carrying Bags</h3>
      <div class="carousel" 
      data-carousel 
      data-category="carrying-bags"
      data-variant="hero">
        <div class="carousel-track"></div>
      </div>
      <div class="carousel-dots" data-dots></div>
    </article>
    
    <article class="carousel-container">
      <h3>Wristlets</h3>
      <div class="carousel" 
      data-carousel 
      data-category="wristlets"
      data-variant="hero">
        <div class="carousel-track"></div>
      </div>
      <div class="carousel-dots" data-dots></div>
    </article>
    
    <article class="carousel-container">
    <h3>Purses</h3>
    <div class="carousel" 
    data-carousel 
    data-category="purses"
      data-variant="hero">
      <div class="carousel-track"></div>
      </div>
      <div class="carousel-dots" data-dots></div>
    </article>
   
    
    
  </div>

  {% endblock %}

  {% block scripts %}
  {{ super() }}
    

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://kit.fontawesome.com/668995576d.js" crossorigin="anonymous"></script>
  {% endblock %}