<!DOCTYPE html>
<html lang="en">
<head>
  <title>Its Sew Regina - home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/index.css?v=2026-02-12" rel="stylesheet">
  <script type="module" src="/static/js/index.js?v=2026-02-17 " defer></script>
  <script src="https://kit.fontawesome.com/668995576d.js" crossorigin="anonymous"></script>
  <style>
  
  
</style>
</head>
<body>
  


  <div class="page">  
  <header>
    
    <div class="bvn-logobar">
      <a href="/" >
        <img class="logo" src="/static/images/itssewlogoedited.webp" alt="Its Sew Regina Home" >
      </a>
      <!--Business Name-->
      <h1 >Its Sew Regina</h1>
      <!-- Live region for announcements -->
      
      <nav aria-label="Main navigation" class="menu-mobile">
        
        <ul class="navigation-menu" role="main-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/forum">For You</a></li>
        </ul>
        
        <ol id="top-nav" >
          <li><a href="/">Home</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/forum">For you</a></li>
          
        </ol>
      </nav>
    </div>
      <div id="status-region" 
      class="visualy-hidden" 
      aria-live="polite "
      aria-atomic="true"></div>
    
    
  </header>
  <main class="container home-layout">
  
 
    <!-- Cart Modal -->
    <div id="users-card">
    <button id="open-cart"  aria-haspopup="dialog" aria-controls="cart-modal">Open cart
    </button>
    <!-- Cart Modal -->
    <div id="modal" class="modal hidden" role="dialog" aria-modal="true" aria-labelledby="modal-title">
      <div class="modal-content" role="group">
        <button id="close-modal" class="close" aria-label="Close Modal">&times;</button>
        <h2 id="modal-title" tabindex="-1"></h2>
        <div id="modal-view-container" role="region" aria-labelledby="modal-title">
        </div>
        <div class="modal-actions">
        </div>
      </div>
    </div>
      <div id="cart-total"></div>
  </div>


  <div class="special-card card" id="promo-bundle">
    <h3 id="special-header">On the Racks</h3>
    <h4> In stores now!!</h4>
    <div class="special-items-container">
      <figure class="special-product">
        <figcaption>Phone Props</figcaption>
        <img src="/static/images/products/sportspsdemo1.webp" alt="sports phone stands"  >
      </figure>
      <figure class="special-product">
        <figcaption>Pillows</figcaption>
        <img src="/static/images/products/smlpillowdemo1.1.webp" alt="small pillow" >
      </figure>
    </div>

    
    
    <a href="/gallery.html" id="linkgallery">see More</a>

    <span class="price" id="special-price">$21.02</span>
  </div>
  
  <article>
    <script src="/static/js/carousel.js?v=2026-02-17"></script>
    <div class="carousel" 
    data-carousel 
    data-category="phone-props"
    data-variant="hero"
    id="home-carousel-demo">
      <div class="carousel-track"></div>
    </div>
    <div class="carousel-dots" data-dots></div>
  </article>
  


  <aside>
    <div class="gallery-product-category">
      <h3 class="topic">New Patterns</h3>
      <p>Select a fabric to expand</p>
      <div class="fabric-picker">
        <div class="fabric" style="background-image:url('/static/images/fabricpicker/fab1.webp');""">
          <div class="overlay"></div>
        </div>
        <div class="fabric" style="background-image:url('/static/images/fabricpicker/fab2.webp');""">
          <div class="overlay"></div>
        </div>
        <div class="fabric" style="background-image:url('/static/images/fabricpicker/fab3.webp');""">
          <div class="overlay"></div>
        </div>
        <div class="fabric" style="background-image:url('/static/images/fabricpicker/fab4.webp');""">
          <div class="overlay"></div>
        </div>
        <div class="fabric" style="background-image:url('/static/images/fabricpicker/fab5.webp');""">
          <div class="overlay"></div>
        </div>
        <div class="fabric" style="background-image:url('/static/images/fabricpicker/fab6.webp');""">
          <div class="overlay"></div>
        </div>
        <div class="fabric" style="background-image:url('/static/images/fabricpicker/fab7.webp');""">
          <div class="overlay"></div>
        </div>
        
      </div>
      <p>Press a selection to view by category</p>
      
        <div class="default-category" id="default-selection">
          <button class="main-category-select" id="show-equipment-category">
    Msc
  </button>
          <button class="main-category-select" id="show-tree-category">
     Afro Culture
    </button>
          <button class="main-category-select" id="show-plant-category">
   Sports
  </div>
  <button id="close-category" >Close</button>
          <div class="category">
            <a
              href="/gallery"><img class="tree-category" src="/static/images/products/afroculturelgb1.1.webp" alt="click here for birch tree description"></a>
            <a
              href="/gallery"><img class="tree-category" src="/static/images/products/tanafrolgb2.1.webp" alt="click here for maple trees description"></a>
            <a href="/gallery"><img  class="tree-category" src="/static/images/products/afroculturelgb1.1.webp" alt="click here for apple trees description"></a>
          </div>
          <div class="category">
            <a
              href="/gallery"><img class="plant-category" src="/static/images/products/steelersps1.1.webp" alt="click here for string of peerls plant description"></a>
            <a
              href="/gallery"><img class="plant-category" src="/static/images/products/cowboyslgplw2.1.webp" alt="click here for the spider plant description"></a>
            <a
              href="/gallery"><img class="plant-category" src="/static/images/products/sportspsdemo2.webp" alt="click here for aloe plants description"></a>
          </div>
          <div class="category">
            <a
              href="/gallery"><img class="equipment-category" src="/static/images/products/afroculturelgb1.1.webp" alt="click here for wwatering can description"></a>
            <a
              href="/gallery"><img class="equipment-category" src="/static/images/products/smlpillowdemo1.1.webp" alt="click here for birdhouse's description"></a>
            <a
              href="/gallery"><img class="equipment-category" src="/static/images/products/cowboysps1.1.webp" alt="click here for potting soil description"></a>
          </div>
          <button id="category-gallery"><a href="/gallery">see gallery</a></button>

        </div>
    </aside>

  <section>


    <div class="starterpackage card">
      <h3>Custom Made Items </h3>
    <div id="duo">
      <div class="bundle">

        <figure class="bundle-deal">
          <figcaption>Afro Culture</figcaption>
          <img src="/static/images/products/tanafrolgb2.1.webp"
                alt="Custom made tan afro culture womens carry bag" >
        </figure>
        
        <figure class="bundle-deal">
          <figcaption>Afro Culture</figcaption>
          <img src="/static/images/products/afroculturelgb1.1.webp"
                alt="Custom made afro culture carry bag " >

        </figure>
      </div>
    
      </div>

      <span class="price" id="starter-price" alt="Starter package price">$29.99</span>
    </div>

    <p id="discount"><strong>Members Discount !!</strong><br>Existing members get a 30% discount on forth in-store visit
    </p>
  </section>



<div class="hero-group-container">
  <div class="hero-group-navigation">
<a href="/">Home</a>
<a href="/gallery">Gallery</a>
<a href="/aboutus">About Us</a>
  </div>
<button type="button"  class="hero-group-option" id="hamburger-icon" aria-label="Navigation menu" 
aria-controls="main-menu"></button>
</div>

  
</main>
<footer>
  <table id="hours-table">
    <tr>
      <th colspan="3">Hours of Operation</th>
    </tr>
    <tr>
      <th>Days</th>
      <th>Open</th>
      <th>Close</th>
    </tr>
    <tr>
      <td>Mon-Friday</td>
      <td>9 a.m</td>
      <td>6 p.m</td>
    </tr>
    <tr>
      <td>Sat-Sun</td>
      <td>10 a.m</td>
      <td>5 p.m</td>
    </tr>
  </table>
  <a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=itssewregina.com','SiteLock','width=600,height=600,left=160,top=170');" >
    <img class="img-fluid" alt="SiteLock" title="SiteLock" src="https://shield.sitelock.com/shield/itssewregina.com" /></a>
  <div id="modal-status-region" role="status" aria-live="polite" class="visually-hidden"></div>
  <div id="social-links">
    <a
      href="http://facebook.com/html"><img aria-label="follow us on face book page"  class="social1" src="/static/images/SVG/facebook.svg"></a>
    <a
      href="http://linkedin.com/html"><img aria-label="connect to our linked in profile "class="social2" src="/static/images/SVG/linkedin.svg"></a>
    <a
      href="http://pinterest.com/html"><img aria-label="click here to find our pinterest account " class="social3" src="/static/images/SVG/pinterest.svg"></a>
  </div>
  <nav class="footer-nav">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/forum">For you</a></li>
    </ol>
    <form class="footer-subscribe" action="">
      <input type="email" name="email" id="emailToSubscribe" autocomplete="off" />
      <input class="subscribe-btn" type="submit" for="submit" name="submit"_parent>
    </form>
  </nav>
</footer>
</div>
<script src="/static/js/cart.js?v=2026-02-17" media="print"></script>
<script src="/static/js/modal.js?v=2026-02-17" media="print"></script>
<script src="/static/js/main.js?v=2026-02-17"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


</body>

</html>