<!DOCTYPE html>
<html lang="en">
<head>
  <title>Its Sew Regina - home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/index.css?v=2026-02-04" rel="stylesheet">
  <script type="module" src="/static/js/index.js?v=2026-02-04 " defer></script>
  <style>
  
  
</style>
</head>
<body>
  
  <header>
    
    <div class="bvn-logobar">
      <a href="/" class="logo">
        <img src="/static/images/itssewlogo.png" alt="Its Sew Regina Home" >
      </a>
      <!--Business Name-->
      <h1 >Its Sew Regina</h1>
      <!-- Live region for announcements -->
      
      <nav aria-label="Main navigation" class="menu-mobile">
        
        <ul class="navigation-menu" role="main-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/forum">For You</a></li>
        </ul>
        
        <ol id="top-nav" >
          <a href="/">Home</a>
          <a href="/gallery">Gallery</a>
          <a href="/aboutus">About Us</a>
          <a href="/forum">For you</a>
          
        </ol>
      </nav>
    </div>
    
    
  </header>
  <main>
    <div id="modal-status-region" role="status" aria-live="polite" class="visually-hidden"></div>
 
    <!-- Cart Modal -->
    <div id="users-card">
   
    <button id="open-cart"  aria-haspopup="dialog" aria-controls="cart-modal">Open cart
    </button>
    <!-- Cart Modal -->
    <div id="modal" class="modal hidden" role="dialog" aria-modal="true" aria-labelledby="modal-title">

      <div class="modal-content" role="group">
        <button id="close-modal" class="close" aria-label="Close Modal">&times;</button>
        <h2 id="modal-title" tabindex="-1"></h2>
        <div id="modal-view-container" role="region" aria-labelledby="modal-title">
        </div>
        <div class="modal-actions">
        </div>
      </div>
    </div>
      <div id="cart-total"></div>
  </div>


  <div class="special-card" id="promo-bundle">
    <h3 id="special-header">On the Racks</h3>
    <h4> In stores now!!</h4>
    <div class="special-items-container">
      <figure class="special-product">
        <figcaption>Small Pillow</figcaption>
        <img src="/static/images/products/sportspsdemo1.webp" alt="sports phone stands"  >
      </figure>
      <figure class="special-product">
        <figcaption>Phone Stand</figcaption>
        <img src="/static/images/products/smlpillowdemo1.1.webp" alt="small pillow" >
      </figure>
    </div>

    
    
    <a href="gallery.html" id="linkgallery">see More</a>
    <button class="add-bundle" data-id="bundle-special"><i class="fa-solid fa-cart-plus"></i>Add to cart</button>
    <span class="price" id="special-price">$21.02</span>
  </div>


  <section>


    <div class="starterpackage">
      <h3>Custom Made Items </h3>
    <div id="duo">
      <div class="bundle">

        <figure class="bundle-deal">
          <figcaption>Afro Culture</figcaption>
          <img src="/static/images/products/tanafrolgb2.1.webp"
                alt="Custom made tan afro culture womens carry bag" width="200px">
        </figure>
        
        <figure class="bundle-deal">
          <figcaption>stand +</figcaption>
          <img src="/static/images/products/afroculturelgb1.1.webp"
                alt="Custom made afro culture carry bag " width="200px">

        </figure>
      </div>
        <figure class="bundle-deal">
          <figcaption>purse</figcaption>
          <img src="/static/images/products/sportspsdemo2.webp"
                alt="aloe plant" width="200px">

        </figure>

      </div>
      <button class="add-starter-package" data-id="bundle-starter"><i class="fa-solid fa-cart-plus"></i>Add to cart</button>
      <span class="price" id="starter-price" alt="Starter package price">$29.99</span>
    </div>

    <p id="discount"><strong>Members Discount !!</strong><br>Existing members get a 30% discount on forth in-store visit
    </p>
  </section>

  <div class="aside-article-container">

    <article>
      <div class="carousel">
        <div class="carousel-track">

          <div class="slide">
            <div class="carousel-card-header">
              <h3 id="topic">Afro Culture</h3>
            </div>
            <div class="carousel-card-body ">
             <img src="/static/images/products/afroculturelgb1.1.webp" alt="">
            </div>
          </div>


          <div class="slide">
            <div class="carousel-card-header">
              <h3>Phone Stands</h3>
            </div>
            <div class="carousel-card-body">
           <img src="/static/images/products/sportspsdemo1.webp" alt="">
            </div>
          </div>


          <div class="slide">
            <div class="carousel-card-header">
              <h3>Sports Pillows</h3>
            </div>
            <div class="carousel-card-body">
             <img src="/static/images/products/smlpillowdemo1.1.webp" alt="">
            </div>
          </div>

        </div>

        <button class="carousel-btn prev" >&#10094;</button>
        <button class="carousel-btn next">&#10095;</button>
      </div>
    </article>
    <aside>
      <div class="gallery-product-category">
        <h3 class="topic">New Paterns</h3>
        <p>Press a selection to view by category</p>
        <div class="default-category" id="default-selection">
          <button class="main-category-select" id="show-equipment-category">
    Msc
  </button>
          <button class="main-category-select" id="show-tree-category">
     Afro Culture
    </button>
          <button class="main-category-select" id="show-plant-category">
   Sports
  </div>
  <button id="close-category" >Close</button>
          <div class="category">
            <a
              href="/gallery"><img class="tree-category" src="/static/images/products/afroculturelgb1.1.webp" alt="click here for birch tree description"></a>
            <a
              href="/gallery"><img class="tree-category" src="/static/images/products/tanafrolgb2.1.webp" alt="click here for maple trees description"></a>
            <a href="/gallery"><img  class="tree-category" src="/static/images/products/afroculturelgb1.1.webp" alt="click here for apple trees description"></a>
          </div>
          <div class="category">
            <a
              href="/gallery"><img class="plant-category" src="/static/images/products/stealersps1.1.webp" alt="click here for string of peerls plant description"></a>
            <a
              href="/gallery"><img class="plant-category" src="/static/images/products/cowboyslgplw2.1.webp" alt="click here for the spider plant description"></a>
            <a
              href="/gallery"><img class="plant-category" src="/static/images/products/sportspsdemo2.webp" alt="click here for aloe plants description"></a>
          </div>
          <div class="category">
            <a
              href="/gallery"><img class="equipment-category" src="/static/images/products/afroculturelgb1.1.webp" alt="click here for wwatering can description"></a>
            <a
              href="/gallery"><img class="equipment-category" src="/static/images/products/smlpillowdemo1.1.webp" alt="click here for birdhouse's description"></a>
            <a
              href="/gallery"><img class="equipment-category" src="/static/images/products/cowboysps1.1.webp" alt="click here for potting soil description"></a>
          </div>
          <button id="category-gallery"><a href="/gallery">see gallery</a></button>

        </div>
    </aside>
  </div>

<div class="hero-group-container">
<a class="hero-group-option"href="/">Home</a>
<a class="hero-group-option"href="/gallery">Gallery</a>
<a class="hero-group-option"href="/aboutus">About Us</a>
<button class="hero-group-option" id="hamburger-icon" aria-label="Navigation menu" 
aria-controls="main-menu"></button>
</div>

  
</main>
<footer>
  <table id="hours">
    <tr>
      <th colspan="3">Hours of Operation</th>
    </tr>
    <tr>
      <th>Days</th>
      <th>Open</th>
      <th>Close</th>
    </tr>
    <tr>
      <td>Mon-Friday</td>
      <td>9 a.m</td>
      <td>6 p.m</td>
    </tr>
    <tr>
      <td>Sat-Sun</td>
      <td>10 a.m</td>
      <td>5 p.m</td>
    </tr>
  </table>
  <div id="social-links">
    <a
      href="http://facebook.com/html"><img aria-label="follow us on face book page"  class="social1" src="/static/images/SVG/facebook.svg"></a>
    <a
      href="http://linkedin.com/html"><img aria-label="connect to our linked in profile "class="social2" src="/static/images/SVG/linkedin.svg"></a>
    <a
      href="http://pinterest.com/html"><img aria-label="click here to find our pinterest account " class="social3" src="/static/images/SVG/pinterest.svg"></a>
  </div>
  <nav class="footer-nav">
    <ol>
      <a href="/">Home</a>
      <a href="/gallery">Gallery</a>
      <a href="/aboutus">About Us</a>
      <a href="/forum">For you</a>
    </ol>
    <form class="footer-subscribe" action="">
      <input type="email" name="email" id="emailToSubscribe" autocomplete="off" />
      <input class="subscribe-btn" type="submit" for="submit" name="submit"_parent>
    </form>
  </nav>
</footer>
</div>
<script src="/static/js/cart.js?v=2026-02-04" media="print"></script>
<script src="/static/js/carousel.js?v=2026-02-04" media="print"></script>
<script src="/static/js/modal.js?v=2026-02-04" media="print"></script>
<script src="/static/js/main.js?v=2026-02-04"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://kit.fontawesome.com/668995576d.js" crossorigin="anonymous"></script>
</body>

</html>